body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

@media (max-width: 460px)
#img-caption {
    font-size: 1.4rem;
}

#img-caption {
    margin: 15px 0 5px 0;
}

figcaption {
    display: block;
}